.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
  justify-content: space-between;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-style: normal;
}

.card__title {
  width: 119px;
  height: 24px;
  font: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10px;
  font-style: medium;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  background: transparent url(../images/heart.png) center no-repeat;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__image {
  max-height: 413px;
  max-width: 413px;
  border-radius: 16px;
  object-fit: cover;
}

@media screen and (max-width: 620px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 20px;
  }
}
