.cards {
  border-bottom: 1px solid #21212166;
}



.cards__list {
  display: grid; 
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 20px 40px;
  max-width: 100%;
  max-height: fit-content;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0;
  overflow-y: auto;
}



@media screen and (max-width: 620px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    padding: 0;
    flex-direction: column;
  }
}
