.footer {
  height: auto;
  background-color: #fcf5e5;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 630px) {
  .footer__copyright {
    text-align: center;
  }
}
