.form__error  {
   width: 630px;
   height: 18px;
   font-family:"Poppins,Arial,sans seriff";
   font-weight: 500;
   font-style: medium;
   font-size: 16px;
   line-height: 110px;
   letter-spacing: 0%;
   color:#FF0000;
   display: none;
   flex-direction: column-reverse;
   /* align-content: stretch; */
   justify-content: center;
   margin-bottom: 30px;
   margin-top: 10px;
}