@import "../vendor/normalize.css";
@import "../vendor/font.css";
@import url("../blocks/card.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/main.css");
@import url("../blocks/page.css");
@import url("../blocks/footer.css");
@import url("../blocks/cards.css");
@import url("../blocks/modal.css");

/* .profile {
  border: 1px solid red;
}

.main__content {
  border: 1px solid blue;
}

.cards__list * {
  border: 1px solid green;
}

.footer {
    border: 1px solid magenta
} */