@import "../vendor/normalize.css";
@import "../vendor/font.css";
@import url("../blocks/card.css");
@import url("../blocks/header.css");
@import url("../blocks/section.css");
@import url("../blocks/main.css");
@import url("../blocks/page.css");
@import url("../blocks/footer.css");
@import url("../blocks/cards.css");
/* .nav__link {
  width: hug (107.34px);
  height: hug (16px);
  gap: 8px;
  opacity: 70%;
} */

/* @media screen and (max-width: 320px){
  .header{
    width:10px
  }
} */
